/* HeroSection.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

.hero-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: linear-gradient(135deg, #141E30 0%, #243B55 100%);
  font-family: 'Roboto Slab', serif;
  margin-bottom: -8rem;
  width: 100%; 
}

h1 {
  font-size: 4rem;
}

p {
  margin-top: -1rem;
  font-size: 1.8rem;
  color: #d1d1d1;
}

.highlighted {
  color: #752121; 
  background: rgba(255, 127, 127, 0.1); /* Light red background with 10% opacity */
  padding: 0.1em 0.3em;
}

/* ...existing styles... */

.button-container {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #d1d1d1;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  width: 100%; 
  cursor: pointer;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
  width: 20px;
  margin-left: 20px; /* Adjust the left margin */
  position: relative;
  top: 12%;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #FBC638;
  }

  100% {
    fill: white;
  }
}
@media (max-width: 768px) {
  .hero-section {
    align-items: center;
    text-align: center;
  }

  .button-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }

  .cta {
    font-size: 16px;
    padding: 8px 20px;
  }
}